# Android Studio
.gradle/
**/build/
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
*.iml

# Keystore files
# Uncomment the following lines if you do not want to check your keystore files in.
#*.jks
#*.keystore

# External native build folder generated in Android Studio 2.2 and later
.cxx/

# Google Services (e.g. APIs or Firebase)
# google-services.json

# Freeline
freeline.py
freeline/

# fastlane
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Crashlytics
com_crashlytics_export_strings.xml
crashlytics-build.properties

# ndk
obj/

# Node
node_modules/

# Yarn
.yarn/
yarn-error.log
